<div class="featuredWorks__blocks">
  <div class="featuredWorks__blocks__flex">
    <img src="{{img}}" alt="">

    <div class="featuredWorks__blocks__flex__description">
      <h2 class="featuredWorks__blocks__flex__description__subtitle">{{title}}</h2>
      <div class="featuredWorks__blocks__flex__description__flexBlock">
        <p class="featuredWorks__blocks__flex__description__year">{{year}}</p>
        <span>{{description}}</span>
      </div>
      <p class="featuredWorks__blocks__flex__description__text">{{text}}</p>
    </div>
  </div>
</div>
