<div class="footer">
  <div class="container">
<div class="footer__icons">
  <a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook"  class="footer__icons__icon"></fa-icon></a>
  <a href="https://www.instagram.com/"> <fa-icon [icon]="faInstagram" class="footer__icons__icon"></fa-icon></a>
  <a href="https://www.twitter.com/"> <fa-icon [icon]="faTwitter" class="footer__icons__icon"></fa-icon></a>
  <a href="https://www.linkedin.com/"> <fa-icon [icon]="faLinkedin" class="footer__icons__icon"></fa-icon></a>
</div>
  <div class="footer__message">Copyright ©2020 All rights reserved </div>
</div>
</div>
