.header{
  padding: 27px 0 92px;
}
.menu-list{
  display: flex;
  justify-content: flex-end;
}
.menu-list-item{
  list-style-type: none;
  margin-left: 50px;
}
.menu-list-item a{
  text-decoration: none;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}
