.workDetail{
  &__title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
    width: 500px;
    @media screen and (max-width: 860px){
      font-size: 27px;
      width: 355px;
    }
    @media screen and (max-width: 620px){
      font-size: 23px;
    }
    @media screen and (max-width: 376px){
      font-size: 30px;
      width: 339px;
    }
  }
  &__img{
    img{
      width: 100%;
      height: 500px;
      margin-top: 46px;
      @media screen and (max-width: 870px){
       height: 460px;
      }
      @media screen and (max-width: 700px){
        height: 400px;
      }
      @media screen and (max-width: 550px){
        height: 300px;
      }
      @media screen and (max-width: 450px){
        height: 250px;
      }
    }
  }
  &__about{
    h3{
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 60px;
      color: #21243D;
      margin-top: 54px;
    }
    h4{
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 60px;
      color: #21243D;
    }
    p{
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 670px;
      color: #000000;
      margin-bottom: 30px;
      @media screen and (max-width: 910px){
        width: 100%;
      }
    }
    &__images{
      img{
        width: 100%;
        padding-bottom: 27px;
      }
    }
  }
}
.workDetail__subtitle__blog{
  margin-top: 30px;

  &__flex{
    display: flex;
    span{
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 900;
      font-size: 21px;
      color: #FFFFFF;
      background: #FF7C7C;
      border-radius: 16px;
      padding: 0 10px;
      height: 25px;
    }
    &__title{
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      color: #21243D;
      margin-left: 17px;
      @media screen and (max-width: 620px){
      font-size: 18px;
    }
      @media screen and (max-width: 376px){
        font-size: 17px;
        width: 262px;
      }
    }
    &__text{
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-top: 23px;
      color: #000000;
      width: 680px;
      @media screen and (max-width: 920px){
        width: 100%;
      }
      @media screen and (max-width: 376px){
        font-size: 14px;
        width: 270px;
      }
    }
  }
}
