<div class="workDetail">
  <div class="container">
        <h1 class="workDetail__title">Designing Dashboards with usability in mind</h1>
    <div class="workDetail__subtitle__blog">
      <div class="workDetail__subtitle__blog__flex">
        <span>2020</span>
        <p class="workDetail__subtitle__blog__flex__title">Dashboard, User Experience Design</p>
        <p class="workDetail__subtitle__blog__flex__text">
          Amet minim mollit non deserunt ullamco
          est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="workDetail__img"></div>
    <div class="workDetail__about">
      <h3>Heading 1</h3>
      <h4>Heading 2</h4>
      <p>Amet minim mollit non deserunt ullamco
        est sit aliqua dolor do amet sint. Velit officia consequat dui
        s enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <div class="workDetail__about__img__block">
        <img src="../../assets/Rectangle 5.png" alt="no image">
        <img src="../../assets/Rectangle 6.png" alt="no image">
      </div>

    </div>
  </div>
</div>
