
*{
  margin:0;
  padding: 0;
}
body{
  box-sizing: border-box;
}
.container{
  width:74%;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
