//@import url('https://fonts.googleapis.com/css2?family=Oleo&display=swap');

*{
  margin:0;
  padding: 0;
}
body{
  box-sizing: border-box;
}
.container{
  width:74%;
  max-width: 1152px;
  margin: auto;
}


//@font-face {
//  font-family: "Oleo";
//  src: local("Oleo"), url(./assets/fonts/OleoScript-Bold.ttf) format("truetype");
//}
