<div class="ownData">
  <div class="container">
    <div class="ownData--flex">
      <div class="ownData--description">
        <h1 class="ownData--description--title">Hi, I am John,
          Creative Technologist</h1>
        <p class="ownData--description--text">Amet minim mollit non deserunt ullamco est sit
          aliqua dolor do amet sint. Velit officia consequat
          duis enim velit mollit. Exercitation veniam consequat
          sunt nostrud amet.</p>
        <button class="ownData--description--button">Download Resume</button>
      </div>

      <div class="Johns-image">
        <img src="../../../assets/Ellipse 1 (1).png" alt="no image">
      </div>
    </div>
  </div>
</div>

<div class="resentPosts">
  <div class="container">
    <p class="resentPosts__title">Recent posts</p>
    <div class="resentPosts--flex">
      <div class="resentPosts--flex__block">
        <h2 class="resentPosts--flex__block__description__title">Making a design system from scratch</h2>
        <p>12 Feb 2020</p>
        <p class="resentPosts--flex__block__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor
          do amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.</p>
      </div>

      <div class="resentPosts--flex__block">
        <h2 class="resentPosts--flex__block__description__title">Making a design system from scratch</h2>
        <p>12 Feb 2020</p>
        <p class="resentPosts--flex__block__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor
          do amet sint. Velit officia consequat duis enim velit mollit.
          Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div></div>
    </div>
  </div>
</div>
